.footer {
	padding-top:0px;
	padding-bottom:0px;
	margin-top:1em;
	text-align:center;
}
.header {
	text-align:center;
}

div.add-comment {
  border: 2px solid #ccc;
}

div.comment-block {
	border-bottom: 2px solid #ccc;
	margin-bottom: 1em;
}