div.container-fluid
	h2.page-header= t('admin.addcategory')
	div.container-fluid
		div.row.form-horizontal
			label.col-sm-1.control-label= t('name')
			div.col-sm-11
				input.form-control(type='text', ng-model='category.name')
		div(text-angular, ng-model='category.description', style='margin-top:1em')
		button.btn.btn-primary.pull-right(ng-click='save()', style='margin-top:1em')= t('admin.save')
		a.btn.btn-warning.pull-right(href='#viewcategories', style='margin-top:1em; margin-right:1em')= t('goback')

