doctype html
html
	head
		title
			= 'RevCMS ' + version + ' Admin Panel'
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/css/admin.css')
	body(ng-app='RevCMSAdmin')
		div.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only= t('togglenavigation')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/admin')= 'RevCMS ' + version
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#', class='dropdown-toggle', data-toggle='dropdown')
								= t('admin.articlemanager')
								span.caret
							ul(class='dropdown-menu navbar-dropdown')
								li
									a(href='#')= t('admin.viewarticles')
								li
									a(href='#')= t('admin.addarticle')
		span(ng-view)
		script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='/vendor/underscore/underscore.js')
		script(type='text/javascript', src='/vendor/angular/angular.js')
		script(type='text/javascript', src='/vendor/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap.min.js')
		script(type='text/javascript', src='/js/RevCMSAdmin.js')
		script(type='text/javascript', src='/js/RevCMSAdminControllers.js')
