div.container-fluid
	h2.page-header
		= t('admin.categories')
		button.btn.btn-primary.pull-right(ng-click='addCategory()')= t('admin.addcategory')
		form.form-inline.pull-right
			input.form-control(ng-model='newCategoryName')
	div.container-fluid
		div(ui-tree)
			ol(ui-tree-nodes='', ng-model='categories', id='category-tree-root')
				li(ng-repeat='category in categories', ui-tree-node, ng-include='"categoryRenderer"')
		script(type='text/ng-template', id='categoryRenderer')
			<div ui-tree-handle class="tree-node">
			| {{category.name}}
			<a class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(this)">
			<span class="glyphicon glyphicon-remove"></span>
			</a>
			</div>
			<ol ui-tree-nodes="" ng-model="category.children">
			<li ng-repeat="category in category.children" ui-tree-node ng-include="'categoryRenderer'">
			</li>
			</ol>
