doctype html
html
	head
		title
			= 'RevaniCM ' + version 
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
	body(ng-app='RevaniCM')
		div.jumbotron
			div.container
				h1= settings.title
				p
					= settings.subtitle
		span(ng-view)

		script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='/vendor/underscore/underscore.js')
		script(type='text/javascript', src='/vendor/angular/angular.js')
		script(type='text/javascript', src='/vendor/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap.min.js')
		script(type='text/javascript', src='/vendor/moment/min/moment.min.js')
		script(type='text/javascript', src='/js/RevaniCM.js')
		script(type='text/javascript', src='/js/RevaniCMFilters.js')
		script(type='text/javascript', src='/js/RevaniCMControllers.js')
