div.container
	div.row
		div.col-md-12(ng-repeat='article in articles', ng-if='articles !== undefined')
			i.pull-right
				| {{article.created | date}}
			h2
				a(ng-href='#/article/{{article._id}}')
					| {{article.title}}
			p(ng-bind-html='article.content')
			div
				| {{article.creator | cachedDocument:'user':'username'}} @ {{article.created | time}}
				if(settings.comments.enabled)
					|  {{article.commentCount}} 
					= t('comments')
					br
					| SHARE ON BLA BLA
		div.col-md-12(ng-if='articles === undefined')
			i.pull-right
				| {{article.created | date}}
			h2
				| {{article.title}}
			p(ng-bind-html='article.content')
			div
				| {{article.creator | cachedDocument:'user':'username'}} @ {{article.created | time}}
			if(settings.comments.enabled)
				h3
					= t('comments')
				if(settings.comments.anonymous || user)
					| WRITE A COMMENT
