div.container
	div.row
		div.col-md-12(ng-repeat='article in articles', ng-if='articles !== undefined')
			i.pull-right
				| {{article.created | date}}
			h2
				a(ng-href='#/article/{{article._id}}')
					| {{article.title}}
			p(ng-bind-html='article.content')
			div
				| {{article.creator | cachedDocument:'user':'username'}} @ {{article.created | time}}
				div.line-padding
				a(ng-href='https://twitter.com/intent/tweet?url={{websiteBaseAddress}}%23/article/{{article._id}}&text={{article.title}}', target='_blank')
					span.share-button.share-button-twitter
				a(ng-href='https://www.facebook.com/sharer/sharer.php?u={{websiteBaseAddress}}%23article/{{article._id}}', target='_blank')
					span.share-button.share-button-facebook
				div.line-padding
				if(settings.comments.enabled)
					|  {{article.commentCount}} 
					= t('comments')
		div.col-md-12(ng-if='articles === undefined')
			i.pull-right
				| {{article.created | date}}
			h2
				| {{article.title}}
			p(ng-bind-html='article.content')
			div
				| {{article.creator | cachedDocument:'user':'username'}} @ {{article.created | time}}
				br
				a(ng-href='https://twitter.com/intent/tweet?url={{websiteBaseAddress}}%23/article/{{article._id}}&text={{article.title}}', target='_blank')
					span.share-button.share-button-twitter
				a(ng-href='https://www.facebook.com/sharer/sharer.php?u={{websiteBaseAddress}}%23article/{{article._id}}', target='_blank')
					span.share-button.share-button-facebook
			if(settings.comments.enabled)
				h3
					= t('comments')
				div.comment-block(ng-repeat='comment in article.comments')
					div.comment-author
						= t('help.comments.usersaidpre')
						span(ng-if='comment.author != undefined')
							| {{comment.author}}
						span(ng-if='comment.author == undefined')
							| {{comment.user | cachedDocument:'user':'username'}}
						= t('help.comments.usersaidpost')
					div.comment-content
						| {{comment.content}}
					div.comment-date
						| {{comment.date | time}}
				if(settings.comments.anonymous || user)
					div.add-comment.row
						if(user)
							= t('help.comments.commentingas.userpre')
							= user.username
							= t('help.comments.commentingas.userpost')
							br
						else
							= t('help.comments.commentingas.anonymous')
							br
							label.col-sm-4.control-label= t('help.comments.author')
							div.col-sm-8
								input.form-control(ng-model='comment.author')
							label.col-sm-4.control-label= t('help.comments.email')
							div.col-sm-8
								input.form-control(ng-model='comment.email')
						label.col-sm-4.control-label= t('help.comments.title')
						div.col-sm-8
							input.form-control(ng-model='comment.title')
						label.col-sm-4.control-label= t('help.comments.content')
						div.col-sm-8
							textarea.form-control(rows='3', ng-model='comment.content')
					div.publish-comment.row
						div.col-sm-2
							if(user)
								button.btn.btn-default(type='button', ng-disabled='!isCommentValid(true)', ng-click='publishComment()')
									= t('help.comments.publish')
							else
								button.btn.btn-default(type='button', ng-disabled='!isCommentValid()', ng-click='publishComment()')
									= t('help.comments.publish')
						div.col-sm-8
						div.col-sm-2
							div.checkbox
								label
									if(user)
										input(type='checkbox', ng-model='comment.notify')
									else
										input(type='checkbox', ng-model='comment.notify', ng-disabled='!isCommentEmailValid()')
									= t('help.comments.notifyme')
				else
					= t('help.comments.noanonymous.pre')
					a(href='#')
						= t('help.comments.noanonymous.login')
					= t('help.comments.noanonymous.post')
